@{
    ViewData["Title"] = "Class 6";
}

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <style>
                    .vertical-menu {
                        width: 200px;
                    }

                        .vertical-menu a {
                            background-color: #eee;
                            color: black;
                            display: block;
                            padding: 12px;
                            text-decoration: none;
                        }

                            .vertical-menu a:hover {
                                background-color: #ccc;
                            }

                            .vertical-menu a.active {
                                background-color: #4CAF50;
                                color: white;
                            }
                </style>


                <div class="vertical-menu" style="height: 100%">
                    <a href="http://localhost:49775/" class="active">Home</a>
                    <a href="http://localhost:49775/Result/SSC">SSC</a>
                    <a href="http://localhost:49775/Result/JSC">JSC</a>
                    <a href="http://localhost:49775/Result/Class_6">Class_6</a>
                    <a href="http://localhost:49775/Result/Class_7">Class_7</a>
                    <a href="http://localhost:49775/Result/Class_8">Class_8</a>
                    <a href="http://localhost:49775/Result/Class_9">Class_9</a>
                    <a href="http://localhost:49775/Result/Class_10">Class_10</a>
                </div>
            </div>

            <div class="col-md-9">
                <div class="panel panel-primary" style="height: 500px">
                    <!-- Notice Board Start-->
                    <div class="panel-heading">
                        <i class="fa fa-spinner fa-spin"></i> &nbsp; Result
                    </div>
                    <div class="panel-body">


                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-primary" style="height: auto">
                    <!-- Notice Board Start-->
                    <div class="panel-heading">
                        <i class="fa fa-spinner fa-spin"></i> &nbsp; Notice
                    </div>

                    <div class="panel-body">
                        <marquee direction="up" onmouseout="this.setAttribute('scrollamount', 2, 0);" onmouseover="this.setAttribute('scrollamount', 0, 0);" scrollamount="2">

                            <table width="345" border="0" cellspacing="0" cellpadding="0" align="center">
                                <tbody>
                                    <tr>
                                        <td width="67" rowspan="2" valign="middle">
                                            <div class="calendar-small">
                                                <span class="s-month">May</span>
                                                <span style="margin-left:22px; font-weight:bold; font-size:24px">  06</span>

                                            </div>
                                        </td>
                                        <td width="283">
                                            <div class="event-small-details">
                                                <h5 class="event-small-title"><a href="index.php?action=notice_details&amp;notId=29">এসএসসি ২০১৮ ফলাফল - জিপিএ ৫ পেয়েছে ১১১ জন</a></h5>
                                                <p class="event-small-meta small-text">&nbsp;</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>


                            <table width="345" border="0" cellspacing="0" cellpadding="0" align="center">
                                <tbody>
                                    <tr>
                                        <td width="67" rowspan="2" valign="middle">
                                            <div class="calendar-small">
                                                <span class="s-month">May</span>
                                                <span style="margin-left:22px; font-weight:bold; font-size:24px">  03</span>

                                            </div>
                                        </td>
                                        <td width="283">
                                            <div class="event-small-details">
                                                <h5 class="event-small-title"><a href="index.php?action=notice_details&amp;notId=28">সৃজনশীল মেধা অন্বেষণ প্রতিযোগিতা-2018: জাতীয় পর্যায়ে প্রথম স্থান অধিকার</a></h5>
                                                <p class="event-small-meta small-text">&nbsp;</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <table width="345" border="0" cellspacing="0" cellpadding="0" align="center">
                                <tbody>
                                    <tr>
                                        <td width="67" rowspan="2" valign="middle">
                                            <div class="calendar-small">
                                                <span class="s-month">May</span>
                                                <span style="margin-left:22px; font-weight:bold; font-size:24px">  03</span>
                                            </div>
                                        </td>
                                        <td width="283">

                                            <div class="event-small-details">
                                                <h5 class="event-small-title"><a href="index.php?action=notice_details&amp;notId=27">সৃজনশীল মেধা অন্বেষণ প্রতিযোগিতা-2018: জাতীয় পর্যায়ে প্রথম স্থান অধিকার</a></h5>
                                                <p class="event-small-meta small-text">&nbsp;</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>


                            <table width="345" border="0" cellspacing="0" cellpadding="0" align="center">
                                <tbody>
                                    <tr>
                                        <td width="67" rowspan="2" valign="middle">
                                            <div class="calendar-small">
                                                <span class="s-month">Feb</span>
                                                <span style="margin-left:22px; font-weight:bold; font-size:24px">  22</span>

                                            </div>
                                        </td>
                                        <td width="283">
                                            <div class="event-small-details">
                                                <h5 class="event-small-title"><a href="index.php?action=notice_details&amp;notId=26">ডিজিটাল উদ্ভাবনী মেলা- ২০১৮ এ অংশগ্রহণ প্রসঙ্গে</a></h5>
                                                <p class="event-small-meta small-text">&nbsp;</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </marquee>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-primary" style="height: 400px">
                    <!-- Notice Board Start-->
                    <div class="panel-heading">
                        <i class="fa fa-spinner fa-spin"></i> &nbsp; Event
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li><a href="#">Victory Day Celebration</a></li>
                            <li><a href="#">Independent Day Celebration</a></li>
                            <li><a href="#">Annual Function</a></li>
                            <li><a href="#">Cultural Program</a></li>
                            <li><a href="#">Price Giving Ceremony</a></li>
                            <li><a href="#">Co-curricular Activities</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

