@{
    ViewData["Title"] = "About Page";
}

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-primary" style="height: auto">
                    <!-- Notice Board Start-->
                    <div class="panel-heading">
                        <i class="fa fa-spinner fa-spin" align="center"></i> &nbsp; Notice
                    </div>
                    <div class="panel-body">
                        <marquee direction="up" onmouseout="this.setAttribute('scrollamount', 2, 0);" onmouseover="this.setAttribute('scrollamount', 0, 0);" scrollamount="2">

                            <table width="345" border="0" cellspacing="0" cellpadding="0" align="center">
                                <tbody>
                                    <tr>
                                        <td width="67" rowspan="2" valign="middle">

                                            <div class="calendar-small">
                                                <span class="s-month">May</span>
                                                <span style="margin-left:22px; font-weight:bold; font-size:24px">  06</span>

                                            </div>

                                        </td>
                                        <td width="283">

                                            <div class="event-small-details">
                                                <h5 class="event-small-title"><a href="index.php?action=notice_details&amp;notId=29">এসএসসি ২০১৮ ফলাফল - জিপিএ ৫ পেয়েছে ১১১ জন</a></h5>
                                                <p class="event-small-meta small-text">&nbsp;</p>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>

                            <table width="345" border="0" cellspacing="0" cellpadding="0" align="center">
                                <tbody>
                                    <tr>
                                        <td width="67" rowspan="2" valign="middle">

                                            <div class="calendar-small">
                                                <span class="s-month">May</span>
                                                <span style="margin-left:22px; font-weight:bold; font-size:24px">  03</span>

                                            </div>
                                        </td>
                                        <td width="283">

                                            <div class="event-small-details">
                                                <h5 class="event-small-title"><a href="index.php?action=notice_details&amp;notId=28">সৃজনশীল মেধা অন্বেষণ প্রতিযোগিতা-2018: জাতীয় পর্যায়ে প্রথম স্থান অধিকার</a></h5>
                                                <p class="event-small-meta small-text">&nbsp;</p>
                                            </div>

                                        </td>
                                    </tr>

                                </tbody>
                            </table>

                            <table width="345" border="0" cellspacing="0" cellpadding="0" align="center">
                                <tbody>
                                    <tr>
                                        <td width="67" rowspan="2" valign="middle">

                                            <div class="calendar-small">
                                                <span class="s-month">May</span>
                                                <span style="margin-left:22px; font-weight:bold; font-size:24px">  03</span>

                                            </div>

                                        </td>
                                        <td width="283">

                                            <div class="event-small-details">
                                                <h5 class="event-small-title"><a href="index.php?action=notice_details&amp;notId=27">সৃজনশীল মেধা অন্বেষণ প্রতিযোগিতা-2018: জাতীয় পর্যায়ে প্রথম স্থান অধিকার</a></h5>
                                                <p class="event-small-meta small-text">&nbsp;</p>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>


                            <table width="345" border="0" cellspacing="0" cellpadding="0" align="center">
                                <tbody>
                                    <tr>
                                        <td width="67" rowspan="2" valign="middle">

                                            <div class="calendar-small">
                                                <span class="s-month">Feb</span>
                                                <span style="margin-left:22px; font-weight:bold; font-size:24px">  22</span>

                                            </div>

                                        </td>
                                        <td width="283">

                                            <div class="event-small-details">
                                                <h5 class="event-small-title"><a href="index.php?action=notice_details&amp;notId=26">ডিজিটাল উদ্ভাবনী মেলা- ২০১৮ এ অংশগ্রহণ প্রসঙ্গে</a></h5>
                                                <p class="event-small-meta small-text">&nbsp;</p>
                                            </div>

                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </marquee>
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div class="panel panel-primary" style="height: auto">
                    <!-- Notice Board Start-->
                    <div class="panel-heading">
                        <i class="fa fa-spinner fa-spin"></i> &nbsp; About
                    </div>
                    <div class="panel-body">
                        <p style="text-align: justify; line-height: 1.6;">
                            <h2 align="center"> প্রতিষ্ঠানের ইতিহাস </h2>
                            <span>
                                নেত্রকোনা সরকারি বালিকা উচ্চ বিদ্যালয়টি নেত্রকোনা জেলার অতি প্রাচীন ও ঐতিহ্যবাহী একটি বিদ্যালয়। এটি ১৯৩৭ সালে প্রতিষ্ঠিত হয় এবং ১৯৭০ সালে জাতীয় করণ করা হর্য়। &nbsp;উক্ত বিদ্যালয়টির সুনির্দিষ্ট একজন প্রতিষ্ঠাতা ছিল না। তবে কতিপয় শিক্ষানুরাগী ব্যক্তি জনাব ফুল কিশোর সাহা, জনাব নিখিলনাথ সহ আরও নাম না জানা কয়েকজন উদ্যোগী হয়ে বিদ্যালয়টি প্রতিষ্ঠা করেন। তখন বিদ্যালয়টিতে টিনশেডের ঘর ছিল। স্বাধীনতা যুদ্ধের সময় এর অনেক গুরুত্বপূর্ণ তথ্য ও কাগজপত্র নষ্ট হয়ে যায়। সূচনালগ্ন থেকেই বিদ্যালয়টি সুনামের সাথে ভাল ফলাফল ও সহ-পাঠ্যক্রমিক কার্যাবলীতে গুরুত্বপূর্ণ অবদান রেখে এসেছে এবং অদ্যাবধি এর গৌরব উত্তরোত্তর বেড়েই চলেছে। বিদ্যালয়ের সাফল্য ও উন্নতি সম্মানিত পরিচালনা কমিটি, সম্মানিত প্রধান শিক্ষক, সহঃ প্রধান শিক্ষক, সহকারি শিক্ষকবৃন্দ, সম্মানিত অভিভাবকবৃন্দ ও কর্মচারীবৃন্দের ঐকান্তিক প্রচেষ্ঠায় সম্ভব হয়েছে।&nbsp;
                                &nbsp;
                                নেত্রকোনা সরকারি বালিকা উচ্চ বিদ্যালয় বাংলাদেশের একটি ঐতিহ্যবাহী স্কুল। প্রতিষ্ঠালগ্ন থেকেই বিদ্যালয়টি শুধু লেখাপড়ার জন্যই নয়, সাহিত্য-সংস্কৃতি ও খেলাধূলার দিক দিয়ে এর সুনাম ছড়িয়ে আছে সারা বাংলাদেশে। বিদ্যালয়ে ২টি শিফট চালু রয়েছে। দু’ শিফটে মোট শিক্ষার্থী রয়েছে ১৮৪৬ জন। শিক্ষক/শিক্ষিকা ৪৭ জন, সহ প্রধান শিক্ষক ০১ জন, প্রধান শিক্ষক ০১ জন, উচ্চমান সহকারী ০১ জন এবং ৪র্থ শ্রেণির কর্মচারী ০৫ জন রয়েছে। বিদ্যালয়টিতে ২০টি শ্রেণিকক্ষ, ১টি প্রধান শিক্ষকের কক্ষ, ১টি সহঃ প্রধান শিক্ষকের কক্ষ (প্রভাতি ও দিবা), ১টি বিজ্ঞানাগার, ১টি লাইব্রেরী, ১টি নামাজের ঘর, ১টি ক্রীড়া সরঞ্জামাদি সংরক্ষিত কক্ষ, ২টি কম্পিউটার কক্ষ, ১টি অফিস কক্ষ ও ১টি ষ্টোররুম রয়েছে। ১টি মাল্টি মিডিয়া ক্লাস রুম রয়েছে। শিক্ষার্থীরা পড়াশুনার পাশাপাশি কম্পিউটার, বিজ্ঞানাগার ও লাইব্রেরী ব্যবহার করে থাকে।&nbsp;
                                শিক্ষার্থীদের ঐকান্তিক প্রচেষ্ঠা ও অনুশীলনের সঙ্গে সঙ্গে স্কুলের সুযোগ্য সভাপতি মহোদয়, প্রধান শিক্ষক, সহঃ প্রধান শিক্ষকদ্বয়, সহকারি শিক্ষক/শিক্ষিকাবৃন্দের তত্ত্বাবধানে এবং অভিভাবকদের সহযোগিতায় বিদ্যালয়টি সাফল্যের দোরগোড়ায় অগ্রসর হতে পেরেছে। প্রতি বছরের এস.এস.সি পরীক্ষা, জে.এস.সি পরীক্ষা, প্রাথমিক শিক্ষা সমাপনী পরীক্ষায় ফলাফল &nbsp; সন্তোষজনক। এস.এস.সি বৃত্তি, জুনিয়র বৃত্তি ও প্রাথমিক বৃত্তির সংখ্যা উল্লেখযোগ্য। আমরা এ বিদ্যালয়ের উন্নতি উত্তরোত্তর কামনা করি।&nbsp;
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>