@{
    ViewData["Title"] = "Administraion";
}

<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-primary" style="height: 430px">
                    <div class="panel-heading">
                        <i class="fa fa-spinner fa-spin" align="center"></i> &nbsp; Notice
                    </div>
                    <div class="panel-body">
                        <marquee direction="up" onmouseout="this.setAttribute('scrollamount', 2, 0);" onmouseover="this.setAttribute('scrollamount', 0, 0);" scrollamount="2">

                            <table width="345" border="0" cellspacing="0" cellpadding="0" align="center">
                                <tbody>
                                    <tr>
                                        <td width="67" rowspan="2" valign="middle">
                                            <div class="calendar-small">
                                                <span class="s-month">May</span>
                                                <span style="margin-left:22px; font-weight:bold; font-size:24px">  06</span>

                                            </div>
                                        </td>
                                        <td width="283">

                                            <div class="event-small-details">
                                                <h5 class="event-small-title"><a href="index.php?action=notice_details&amp;notId=29">এসএসসি ২০১৮ ফলাফল - জিপিএ ৫ পেয়েছে ১১১ জন</a></h5>
                                                <p class="event-small-meta small-text">&nbsp;</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <table width="345" border="0" cellspacing="0" cellpadding="0" align="center">
                                <tbody>
                                    <tr>
                                        <td width="67" rowspan="2" valign="middle">
                                            <div class="calendar-small">
                                                <span class="s-month">May</span>
                                                <span style="margin-left:22px; font-weight:bold; font-size:24px">  03</span>

                                            </div>
                                        </td>
                                        <td width="283">
                                            <div class="event-small-details">
                                                <h5 class="event-small-title"><a href="index.php?action=notice_details&amp;notId=28">সৃজনশীল মেধা অন্বেষণ প্রতিযোগিতা-2018: জাতীয় পর্যায়ে প্রথম স্থান অধিকার</a></h5>
                                                <p class="event-small-meta small-text">&nbsp;</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <table width="345" border="0" cellspacing="0" cellpadding="0" align="center">
                                <tbody>
                                    <tr>
                                        <td width="67" rowspan="2" valign="middle">
                                            <div class="calendar-small">
                                                <span class="s-month">May</span>
                                                <span style="margin-left:22px; font-weight:bold; font-size:24px">  03</span>

                                            </div>

                                        </td>
                                        <td width="283">
                                            <div class="event-small-details">
                                                <h5 class="event-small-title"><a href="index.php?action=notice_details&amp;notId=27">সৃজনশীল মেধা অন্বেষণ প্রতিযোগিতা-2018: জাতীয় পর্যায়ে প্রথম স্থান অধিকার</a></h5>
                                                <p class="event-small-meta small-text">&nbsp;</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>


                            <table width="345" border="0" cellspacing="0" cellpadding="0" align="center">
                                <tbody>
                                    <tr>
                                        <td width="67" rowspan="2" valign="middle">
                                            <div class="calendar-small">
                                                <span class="s-month">Feb</span>
                                                <span style="margin-left:22px; font-weight:bold; font-size:24px">  22</span>

                                            </div>
                                        </td>
                                        <td width="283">

                                            <div class="event-small-details">
                                                <h5 class="event-small-title"><a href="index.php?action=notice_details&amp;notId=26">ডিজিটাল উদ্ভাবনী মেলা- ২০১৮ এ অংশগ্রহণ প্রসঙ্গে</a></h5>
                                                <p class="event-small-meta small-text">&nbsp;</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </marquee>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-primary" style="height: 430px">
                    <div class="panel-heading">
                        <i class="fa fa-spinner fa-spin" align="center"></i> &nbsp; Admisistration
                    </div>
                    <div class="panel-body">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" >
                            <tbody>
                                <tr>
                                    <td>
                                        <table width="100%" border="1" cellspacing="2" cellpadding="2" class="projectlist">
                                            <tbody align="center">
                                                <tr>
                                                    <th width="419" align="center">Teacher Name</th>
                                                    <th width="330" align="center">Designation</th>
                                                    <th width="82">Photo</th>
                                                </tr>
                                                <tr>
                                                    <td>Shibani Saha</td>
                                                    <td>Headmaster</td>
                                                    <td align="center"><img src="~/images/Headmaster mam.jpg" width="50" height="50"></td>
                                                </tr>
                                                <tr>
                                                    <td>Chamely Rani Dutta</td>
                                                    <td>Assistant Headmaster (Morning)</td>
                                                    <td align="center"><img src="content-control/tphoto/" width="50" height="50"></td>
                                                </tr>
                                                <tr> 
                                                    <td>SUBRATA SARKER</td>
                                                    <td>Assistant Headmaster (Day)</td>
                                                    <td align="center"><img src="~/images/SUBRATA SARKER (Assistant Head Teacher).jpg" width="50" height="50"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <div class="col-md-3">
                <div class="panel panel-primary" style="height: 430px">
                    <div class="panel-heading">
                        <i class="fa fa-spinner fa-spin"></i> &nbsp; Event
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li><a href="#">Victory Day Celebration</a></li>
                            <li><a href="#">Independent Day Celebration</a></li>
                            <li><a href="#">Annual Function</a></li>
                            <li><a href="#">Cultural Program</a></li>
                            <li><a href="#">Price Giving Ceremony</a></li>
                            <li><a href="#">Co-curricular Activities</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>