@{
    ViewData["Title"] = "Contact Page";
}

<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-primary" style="height: auto">
                    <!-- Notice Board Start-->
                    <div class="panel-heading">
                        <i class="fa fa-spinner fa-spin"></i> &nbsp; Notice
                    </div>

                    <div class="panel-body">
                        <marquee direction="up" onmouseout="this.setAttribute('scrollamount', 2, 0);" onmouseover="this.setAttribute('scrollamount', 0, 0);" scrollamount="2">

                            <table width="345" border="0" cellspacing="0" cellpadding="0" align="center">
                                <tbody>
                                    <tr>
                                        <td width="67" rowspan="2" valign="middle">
                                            <div class="calendar-small">
                                                <span class="s-month">May</span>
                                                <span style="margin-left:22px; font-weight:bold; font-size:24px">  06</span>

                                            </div>
                                        </td>
                                        <td width="283">
                                            <div class="event-small-details">
                                                <h5 class="event-small-title"><a href="index.php?action=notice_details&amp;notId=29">এসএসসি ২০১৮ ফলাফল - জিপিএ ৫ পেয়েছে ১১১ জন</a></h5>
                                                <p class="event-small-meta small-text">&nbsp;</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>


                            <table width="345" border="0" cellspacing="0" cellpadding="0" align="center">
                                <tbody>
                                    <tr>
                                        <td width="67" rowspan="2" valign="middle">
                                            <div class="calendar-small">
                                                <span class="s-month">May</span>
                                                <span style="margin-left:22px; font-weight:bold; font-size:24px">  03</span>

                                            </div>
                                        </td>
                                        <td width="283">
                                            <div class="event-small-details">
                                                <h5 class="event-small-title"><a href="index.php?action=notice_details&amp;notId=28">সৃজনশীল মেধা অন্বেষণ প্রতিযোগিতা-2018: জাতীয় পর্যায়ে প্রথম স্থান অধিকার</a></h5>
                                                <p class="event-small-meta small-text">&nbsp;</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <table width="345" border="0" cellspacing="0" cellpadding="0" align="center">
                                <tbody>
                                    <tr>
                                        <td width="67" rowspan="2" valign="middle">
                                            <div class="calendar-small">
                                                <span class="s-month">May</span>
                                                <span style="margin-left:22px; font-weight:bold; font-size:24px">  03</span>
                                            </div>
                                        </td>
                                        <td width="283">

                                            <div class="event-small-details">
                                                <h5 class="event-small-title"><a href="index.php?action=notice_details&amp;notId=27">সৃজনশীল মেধা অন্বেষণ প্রতিযোগিতা-2018: জাতীয় পর্যায়ে প্রথম স্থান অধিকার</a></h5>
                                                <p class="event-small-meta small-text">&nbsp;</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>


                            <table width="345" border="0" cellspacing="0" cellpadding="0" align="center">
                                <tbody>
                                    <tr>
                                        <td width="67" rowspan="2" valign="middle">
                                            <div class="calendar-small">
                                                <span class="s-month">Feb</span>
                                                <span style="margin-left:22px; font-weight:bold; font-size:24px">  22</span>

                                            </div>
                                        </td>
                                        <td width="283">
                                            <div class="event-small-details">
                                                <h5 class="event-small-title"><a href="index.php?action=notice_details&amp;notId=26">ডিজিটাল উদ্ভাবনী মেলা- ২০১৮ এ অংশগ্রহণ প্রসঙ্গে</a></h5>
                                                <p class="event-small-meta small-text">&nbsp;</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </marquee>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-primary" style="height: 400px">
                    <!-- Notice Board Start-->
                    <div class="panel-heading">
                        <i class="fa fa-spinner fa-spin"></i> &nbsp; Event
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li><a href="#">Victory Day Celebration</a></li>
                            <li><a href="#">Independent Day Celebration</a></li>
                            <li><a href="#">Annual Function</a></li>
                            <li><a href="#">Cultural Program</a></li>
                            <li><a href="#">Price Giving Ceremony</a></li>
                            <li><a href="#">Co-curricular Activities</a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary" style="height: auto">
                    <!-- Notice Board Start-->
                    <div class="panel-heading">
                        <i class="fa fa-spinner fa-spin"></i> &nbsp; Contact Information
                    </div>
                    <div class="panel-body" style="font-size: medium">
                        <address>
                            Maria Moon<br />
                            Netrakona Sadar, Netrakona<br />
                            <abbr title="Phone">P:</abbr>
                            01750578731
                        </address>

                        <address>
                            <strong>My email:</strong> <a href="mariamoon674@gmail.com">mariamoon674@gmail.com</a><br />

                        </address>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
