@{
    ViewData["Title"] = "Faculty List";
}

<body>
    <div class="container">
        <div class="row header_bottom">
            <div class="col-md-8">
                <div class="panel panel-primary" style="height: auto">
                    <div class="panel-heading">
                        <i class="fa fa-spinner fa-spin"></i> &nbsp; Image Gallery
                    </div>
                    <p>Click on the images to enlarge them.</p>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="thumbnail">
                                <a href="~/images/School_Assembly.jpg" target="_blank">
                                    <img src="~/images/School_Assembly.jpg" alt="Lights" style="width:100%">
                                    <div class="caption">
                                        <p>School Assembly</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="thumbnail">
                                <a href="~/images/Sports_Day.jpg" target="_blank">
                                    <img src="~/images/Sports_Day.jpg" alt="Nature" style="width:100%">
                                    <div class="caption">
                                        <p>Sports Day</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="thumbnail">
                                <a href="~/images/New_book_distribution.jpg" target="_blank">
                                    <img src="~/images/New_book_distribution.jpg" alt="Fjords" style="width:100%">
                                    <div class="caption">
                                        <p>New Book Distribution</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="thumbnail">
                                <a href="~/images/SAM_1365 (1).jpg" target="_blank">
                                    <img src="~/images/SAM_1365 (1).jpg" alt="Fjords" style="width:100%">
                                    <div class="caption">
                                        <p>Farewell</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-4">
                <div class="panel panel-primary" style="height: 230px">
                    <div class="panel-heading">
                        <i class="fa fa-spinner fa-spin"></i> &nbsp; Event
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li><a href="#">Victory Day Celebration</a></li>
                            <li><a href="#">Independent Day Celebration</a></li>
                            <li><a href="#">Annual Function</a></li>
                            <li><a href="#">Cultural Program</a></li>
                            <li><a href="#">Price Giving Ceremony</a></li>
                            <li><a href="#">Co-curricular Activities</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="widget-item">
                    <table width="700" border="0" cellspacing="0" cellpadding="0" align="center">
                        <tbody>
                            <tr>
                                <td>
                                    <table width="700" border="1" cellspacing="0" cellpadding="0" class="projectlist">
                                        <tbody>
                                            <tr>
                                                <td height="87" colspan="4" align="center" style="font-size:24px"> All Teachers <br> </td>
                                            </tr>
                                            <tr>
                                                <th width="419" align="left">Teacher Name</th>
                                                <th width="330" align="left">Designation</th>
                                                <th width="82">Photo</th>
                                            </tr>

                                            <tr>
                                                <td>Shibani Saha</td>
                                                <td>Headmaster</td>
                                                <td align="center"><img src="~/images/Headmaster mam.jpg" width="50" height="50"></td>
                                            </tr>
                                            <tr>
                                                <td>Chamely Rani Dutta</td>
                                                <td>Assistant Headmaster (Morning)</td>
                                                <td align="center"><img src="" width="50" height="50"></td>
                                            </tr>
                                            <tr>
                                                <td>SUBRATA SARKER</td>
                                                <td>Assistant Headmaster (Day)</td>
                                                <td align="center"><img src="~/images/SUBRATA_SARKER (Assistant Head Teacher).jpg" width="50" height="50"></td>
                                            </tr>
                                            <tr>
                                                <td>RAMIMA AKTER</td>
                                                <td>ASISTANT TEACHER</td>
                                                <td align="center"><img src="" width="50" height="50"></td>
                                            </tr>
                                            <tr>
                                                <td>ASHEK MAHMUD</td>
                                                <td>ASSISTANT TEACHER</td>
                                                <td align="center"><img src="~/images/Ashek_Mahmud.jpg" width="50" height="50"></td>
                                            </tr>
                                            <tr>
                                                <td>AZHARUL ISLAM</td>
                                                <td>ASISTANT TEACHER</td>
                                                <td align="center"><img src="~/images/AZHARUL_ISLAM.jpg" width="50" height="50"></td>
                                            </tr>
                                            <tr>
                                                <td>JYOTIRMOYEE CHOWDHURY</td>
                                                <td>ASSISTANT TEACHER</td>
                                                <td align="center"><img src="~/images/JYOTIRMOYEE_CHOWDHURY.jpg" width="50" height="50"></td>
                                            </tr>
                                            <tr>
                                                <td>MILI RANI DAS</td>
                                                <td>ASSISTANT TEACHER</td>
                                                <td align="center"><img src="~/images/Mili_Rani_Das.jpg" width="50" height="50"></td>
                                            </tr>
                                            <tr>
                                                <td>MD. OBAIDULLAH KAISER</td>
                                                <td>ASSISTANT TEACHER</td>
                                                <td align="center"><img src="~/images/MD._OBAIDULLAH_KAISER.jpg" width="50" height="50"></td>
                                            </tr>
                                            <tr>
                                                <td>IFFAT ARA HASNA</td>
                                                <td>ASSISTANT TEACHER</td>
                                                <td align="center"><img src="~/images/Iffat_Ara.jpg" width="50" height="50"></td>
                                            </tr>
                                            <tr>
                                                <td>ARIFUN NESA</td>
                                                <td>ASSISTANT TEACHER</td>
                                                <td align="center"><img src="~/images/Arifunnesa.jpg" width="50" height="50"></td>
                                            </tr>
                                            <tr>
                                                <td>MD. SHAHIDUL ISLAM</td>
                                                <td>ASSISTANT TEACHER</td>
                                                <td align="center"><img src="~/images/Shaidul_Islam.jpg" width="50" height="50"></td>
                                            </tr>
                                            <tr>
                                                <td>MD. ASHRAF UDDIN</td>
                                                <td>ASSISTANT TEACHER</td>
                                                <td align="center"><img src="~/images/Ashraf_Uddin.jpg" width="50" height="50"></td>
                                            </tr>
                                            <tr>
                                                <td>KAMRUNNAHER</td>
                                                <td>ASSISTANT TEACHER</td>
                                                <td align="center"><img src="~/images/Kamrunnahar.jpg" width="50" height="50"></td>
                                            </tr>
                                            <tr>
                                                <td>ABUL HASHEM</td>
                                                <td>ASSISTANT TEACHER</td>
                                                <td align="center"><img src="~/images/Hasem_Sir.jpg" width="50" height="50"></td>
                                            </tr>
                                            <tr>
                                                <td>SHAMS UDDIN</td>
                                                <td>ASSISTANT TEACHER</td>
                                                <td align="center"><img src="" width="50" height="50"></td>
                                            </tr>
                                            <tr>
                                                <td> FATEMA KHATUN</td>
                                                <td>ASSISTANT TEACHER</td>
                                                <td align="center"><img src="~/images/Fatema.jpg" width="50" height="50"></td>
                                            </tr>
                                            <tr>
                                                <td>MUHAMMAD MOKBUL HOSSAIN</td>
                                                <td>ASSISTANT TEACHER</td>
                                                <td align="center"><img src="~/images/Mokbul_Hossain.jpg" width="50" height="50"></td>
                                            </tr>
                                            <tr>
                                                <td>AFROZA AHMED</td>
                                                <td> ASSISTANT TEACHER</td>
                                                <td align="center"><img src="~/images/AFROZA_AHMED.jpg" width="50" height="50"></td>
                                            </tr>
                                            <tr>
                                                <td>MUHAMMAD MUSHARAF HOSSAIN</td>
                                                <td>ASSISTANT TEACHER</td>
                                                <td align="center"><img src="" width="50" height="50"></td>
                                            </tr>
                                            <tr>
                                                <td>MURSHIDA AKTER</td>
                                                <td>ASSISTANT TEACHER</td>
                                                <td align="center"><img src="~/images/Murshida_Akter.jpg" width="50" height="50"></td>
                                            </tr>
                                            <tr>
                                                <td>MUSAMMET RAUSHAN JAHAN</td>
                                                <td>ASSISTANT TEACHER</td>
                                                <td align="center"><img src="" width="50" height="50"></td>
                                            </tr>
                                            <tr>
                                                <td>MOHAMMAD AMINUL ISLAM</td>
                                                <td><Assistant Teacher></td>
                                                <td align="center"><img src="" width="50" height="50"></td>
                                            </tr>
                                            <tr>
                                                <td>AKLIMA AHMED</td>
                                                <td>ASSISTANT TEACHER</td>
                                                <td align="center"><img src="~/images/Aklima.jpg" width="50" height="50"></td>
                                            </tr>
                                            <tr>
                                                <td> NAUSHAD BINTE MAMUN</td>
                                                <td> ASSISTANT TEACHER </td>
                                                <td align="center"> <img src="" width="50" height="50"> </td>
                                            </tr>
                                            <tr>
                                                <td> MAHMUDA AKTER</td>
                                                <td>Assistant Teacher</td>
                                                <td align="center"><img src="~/images/Mahmuda_Akter.jpg" width="50" height="50"></td>
                                            </tr>
                                            <tr>
                                                <td> MD. ANISUR RAHMAN JEHADI</td>
                                                <td>ASSISTANT TEACHER</td>
                                                <td align="center"><img src="~/images/MD._ANISUR_RAHMAN_JEHADI.jpg" width="50" height="50"></td>
                                            </tr>

                                            <tr>
                                                <td>LAILA SIDDIQUI</td>
                                                <td>ASISTANT TEACHER</td>
                                                <td align="center"><img src="~/images/Laila_Siddique.jpg" width="50" height="50"></td>
                                            </tr>

                                            <tr>
                                                <td>MOHAMMED ANWAR ULLAH</td>
                                                <td>ASSISTANT TEACHER</td>
                                                <td align="center"><img src="~/images/Mohammed_Anwar_Ullah.jpg" width="50" height="50"></td>
                                            </tr>

                                            <tr>
                                                <td>NADIRUZZAMAN KHAN</td>
                                                <td>Assistant Teacher</td>
                                                <td align="center"><img src="~/images/Nadirujaman.jpg" width="50" height="50"></td>
                                            </tr>

                                            <tr>
                                                <td>MD.  MAKSUDR RAHMAN KHAN</td>
                                                <td>ASSISTANT TEACHER</td>
                                                <td align="center"><img src="~/images/Maksudur_Rahman.jpg" width="50" height="50"></td>
                                            </tr>

                                            <tr>
                                                <td>MD. ABU SADEK</td>
                                                <td>ASISTANT TEACHER</td>
                                                <td align="center"><img src="~/images/Abu_sadek.jpg" width="50" height="50"></td>
                                            </tr>

                                            <tr>
                                                <td>MAHMUDA BEGUM</td>
                                                <td>ASSISTANT TEACHER</td>
                                                <td align="center"><img src="~/images/MAHMUDA_BEGUM.jpg" width="50" height="50"></td>
                                            </tr>

                                            <tr>
                                                <td>SALMA AKTER</td>
                                                <td>ASSISTANT TEACHER</td>
                                                <td align="center"><img src="~/images/Salma_Akter.jpg" width="50" height="50"></td>
                                            </tr>

                                            <tr>
                                                <td>SHAIKH MD. ABDUL MANNAN</td>
                                                <td>ASSISTANT TEACHER</td>
                                                <td align="center"><img src="~/images/Sk_Md._Abdul_Mannan.jpg" width="50" height="50"></td>
                                            </tr>

                                            <tr>
                                                <td>MOMINA SURKHI</td>
                                                <td>ASSISTANT TEACHER</td>
                                                <td align="center"><img src="~/images/Momina_Surkhi.jpg" width="50" height="50"></td>
                                            </tr>

                                            <tr>
                                                <td>BONOLOTA SEN</td>
                                                <td>ASSISTANT TEACHER</td>
                                                <td align="center"><img src="~/images/Bonolata.jpg" width="50" height="50"></td>
                                            </tr>

                                            <tr>
                                                <td>SHAMIMA SHULTANA</td>
                                                <td>ASSISTANT TEACHER</td>
                                                <td align="center"><img src="~/images/Shamima_Sultana.jpg" width="50" height="50"></td>
                                            </tr>

                                            <tr>
                                                <td>CHOWDHURY EVANA ELIASH</td>
                                                <td>ASSISTANT TEACHER</td>
                                                <td align="center"><img src="~/images/Chowdhury_Evana_Eliash.jpg" width="50" height="50"></td>
                                            </tr>

                                            <tr>
                                                <td>BEAUTY AKTER LOVELY</td>
                                                <td>ASSISTANT TEACHER</td>
                                                <td align="center"><img src="~/images/Beauty_Akter_Lovely.jpg" width="50" height="50"></td>
                                            </tr>

                                            <tr>
                                                <td>ABU HASANATH MOHAMMAD ANISUR RAHAMAN</td>
                                                <td>ASSISTANT TEACHER</td>
                                                <td align="center"><img src="~/images/ABU_HASANATH_MOHAMMAD_ANISUR_RAHAMAN.jpg" width="50" height="50"></td>
                                            </tr>

                                            <tr>
                                                <td> MD. SIDDIQUR RAHMAN</td>
                                                <td>Assistant Teacher</td>
                                                <td align="center"><img src="" width="50" height="50"></td>
                                            </tr>

                                            <tr>
                                                <td>MD. SHAKHAWAT HOSSAIN KHAN</td>
                                                <td>ASSISTANT TEACHER</td>
                                                <td align="center"><img src="~/images/MD._SHAKHAWAT_HOSSAIN_KHAN.jpg" width="50" height="50"></td>
                                            </tr>

                                            <tr>
                                                <td>APU SARKER</td>
                                                <td> ASSISTANT  TEACHER</td>
                                                <td align="center"> <img src="~/images/Apu_Sarler.jpg" width="50" height="50"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-primary" style="height: auto">
                    <div class="panel-heading">
                        <i class="fa fa-spinner fa-spin"></i> &nbsp; Notice
                    </div>

                    <div class="panel-body">
                        <marquee direction="up" onmouseout="this.setAttribute('scrollamount', 2, 0);" onmouseover="this.setAttribute('scrollamount', 0, 0);" scrollamount="2">
                            <table width="345" border="0" cellspacing="0" cellpadding="0" align="center">
                                <tbody>
                                    <tr>
                                        <td width="67" rowspan="2" valign="middle">
                                            <div class="calendar-small">
                                                <span class="s-month">May</span>
                                                <span style="margin-left:22px; font-weight:bold; font-size:24px">  06</span>

                                            </div>
                                        </td>
                                        <td width="283">
                                            <div class="event-small-details">
                                                <h5 class="event-small-title"><a href="#">এসএসসি ২০১৮ ফলাফল - জিপিএ ৫ পেয়েছে ১১১ জন</a></h5>
                                                <p class="event-small-meta small-text">&nbsp;</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>


                            <table width="345" border="0" cellspacing="0" cellpadding="0" align="center">
                                <tbody>
                                    <tr>
                                        <td width="67" rowspan="2" valign="middle">
                                            <div class="calendar-small">
                                                <span class="s-month">May</span>
                                                <span style="margin-left:22px; font-weight:bold; font-size:24px">  03</span>

                                            </div>
                                        </td>
                                        <td width="283">
                                            <div class="event-small-details">
                                                <h5 class="event-small-title"><a href="#">সৃজনশীল মেধা অন্বেষণ প্রতিযোগিতা-2018: জাতীয় পর্যায়ে প্রথম স্থান অধিকার</a></h5>
                                                <p class="event-small-meta small-text">&nbsp;</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <table width="345" border="0" cellspacing="0" cellpadding="0" align="center">
                                <tbody>
                                    <tr>
                                        <td width="67" rowspan="2" valign="middle">
                                            <div class="calendar-small">
                                                <span class="s-month">May</span>
                                                <span style="margin-left:22px; font-weight:bold; font-size:24px">  03</span>
                                            </div>
                                        </td>
                                        <td width="283">

                                            <div class="event-small-details">
                                                <h5 class="event-small-title"><a href="#">সৃজনশীল মেধা অন্বেষণ প্রতিযোগিতা-2018: জাতীয় পর্যায়ে প্রথম স্থান অধিকার</a></h5>
                                                <p class="event-small-meta small-text">&nbsp;</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>


                            <table width="345" border="0" cellspacing="0" cellpadding="0" align="center">
                                <tbody>
                                    <tr>
                                        <td width="67" rowspan="2" valign="middle">
                                            <div class="calendar-small">
                                                <span class="s-month">Feb</span>
                                                <span style="margin-left:22px; font-weight:bold; font-size:24px">  22</span>

                                            </div>
                                        </td>
                                        <td width="283">
                                            <div class="event-small-details">
                                                <h5 class="event-small-title"><a href="#">ডিজিটাল উদ্ভাবনী মেলা- ২০১৮ এ অংশগ্রহণ প্রসঙ্গে</a></h5>
                                                <p class="event-small-meta small-text">&nbsp;</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </marquee>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
